//-------------------------Box----------------
.footerBox{
    display: flex;
    flex-flow: column nowrap;
    .main{
        flex-grow: 1;
    }
    .footer{
        height: 100px;
    }
}
//-------------------------component----------------

//text
.sigleLineEllipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.mutiLineEllipsis{
    overflow: hidden;
     display: -webkit-box;
     -webkit-line-clamp: 2;//control show how much line 
     -webkit-box-orient: vertical;
}

.justifyAlignText{
    width:100px;
    display:inline-block;
    border:1px solid red;
    text-align:justify;
    height:20px;
    overflow:hidden;
    &::after{
        content:'';
        border:1px solid blue;
        width:100%;
        display:inline-block;
      }
  }
//img

//header
.header{

}

//-------------------------layout----------------

//-------------------HorizenCenter
.inlineHorizenCenter{
    text-align: center;
}
.blockHorizenCenter1{
    margin: 0 auto;
}
.blockHorizenCenter2{
    margin: 0 50px;
}

//--------------------------VerticalCenter
.textVerticalCenter{
    //if height=40
    line-height: 30px;
    padding: 5px 0;
}
.imgVerticalCenter{
    padding: 5px 0;
}

.blockVerticalCenter{
    text-align: center;
}
//----------------nomatter inline or block absoluteCenter
.absoluteCenterItem{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.absoluteCenterBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

